#Ignore all
*.*
*

#exclude directory structure
!app/
app/*

!app/addons/
app/addons/*

!app/addons/everypay/
!app/addons/everypay/**

!design/
design/*

!design/backend/
design/backend/*

!design/backend/templates/
design/backend/templates/*

!design/backend/templates/addons/
design/backend/templates/addons/*

!design/backend/templates/addons/everypay/
!design/backend/templates/addons/everypay/**


!js/
js/*

!js/addons/
js/addons/*

!js/addons/everypay/
!js/addons/everypay/**


!.gitignore
!README.md